<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="MYS" connectionString="Server=localhost;port=3307;Database=EstudiantesDB;Uid=root;Pwd='********';charset=utf8;SslMode=none;" providerName="MySql.Data.MySqlClient" />
      <add name="SQS" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=EstudiantesDB;User Id=sa; Password=********;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>